@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

<a class="btn btn-primary" asp-action="Create">@localizer["Create"]</a>

<table class="table mt-4">
    <tr>
        <td>@localizer["Culture"]</td>
        <td>
            @requestCulture.RequestCulture.Culture.Name
        </td>
    </tr>
    <tr>
        <td>@localizer["UICulture"]</td>
        <td>
            @requestCulture.RequestCulture.UICulture.Name
        </td>
    </tr>
    <tr>
        <td>@localizer["Date"]</td>
        <td>@DateTime.Now.ToLongDateString()</td>
    </tr>
    <tr>
        <td>@localizer["Currency"]</td>
        <td>@(9985.00.ToString("c"))</td>
    </tr>
    <tr>
        <td>@localizer["Number"]</td>
        <td>@(987.69m.ToString("F2"))</td>
    </tr>
</table>